# **Theoretical questions**

## Data types and structures Questions

---

**Q1.What are data structures, and why are they important?**

Ans:Data structures are ways of organizing and storing data for efficient access and modification. They are important because they optimize performance, help implement algorithms effectively, manage resources, and enable better problem-solving. Examples include arrays, linked lists, and trees.

---

**Q2.Explain the difference between mutable and immutable data types with examples.**

Ans:Mutable data types can be changed or modified after they are created, while immutable data types cannot be changed once they are created.

Mutable:

Can be modified.

Example: List in Python ([1, 2, 3] can be changed to [4, 5, 6]).

Immutable:

Cannot be modified.

Example: Tuple in Python ((1, 2, 3) cannot be changed to (4, 5, 6)).
In short, mutable types allow changes, while immutable types do not.

---

**Q3.What are the main differences between lists and tuples in Python?**

Ans:Lists in Python are mutable, meaning you can modify, add, or remove elements after creation. They are defined with square brackets, e.g., [1, 2, 3], and support methods like append(), remove(), and extend() for modification. Lists are ideal when you need a collection that can change over time.

Tuples, on the other hand, are immutable, meaning once created, their elements cannot be changed. They are defined with parentheses, e.g., (1, 2, 3), and have fewer methods, such as count() and index(). Tuples are faster and are typically used for fixed collections of data where you don't need to modify the contents.

---

**Q4.Describe how dictionaries store data?**

Ans:Dictionaries in Python store data as key-value pairs. Each item in a dictionary consists of a unique key and an associated value. The key is used to access the corresponding value.

Keys must be unique, immutable (e.g., strings, numbers, or tuples), and are used to look up the associated values, which can be any data type (mutable or immutable).

In this example:

1."name" and "age" are the keys.

2."Alice" and 25 are the corresponding values.

---

**Q5.Why might you use a set instead of a list in Python?**

Ans:You might use a set instead of a list in Python for the following reasons:

1.Uniqueness: Sets automatically eliminate duplicate values, whereas lists can contain duplicate elements.

2.Faster lookups: Sets provide faster membership testing (checking if an item exists) because they are implemented using hash tables, whereas lists require scanning through all elements.

3.Mathematical operations: Sets support operations like union, intersection, and difference, which are not directly available with lists.

4.Order is not important: Sets are unordered collections, so if you don’t need to preserve the order of elements, a set is more efficient.

---

**Q6.What is a string in Python, and how is it different from a list?**

Ans:A string in Python is a sequence of characters enclosed in quotes (single, double, or triple). Strings are used to represent textual data.

Key differences between strings and lists:

Mutability:

String: Immutable, meaning once created, you cannot modify the characters within a string.

List: Mutable, meaning you can change, add, or remove elements in a list.

Data type:

String: Contains only characters (text).

List: Can contain any type of data (e.g., numbers, strings, objects).

Methods:

String: Has methods like .lower(), .upper(), .split(), but you can't modify the string directly.

List: Has methods like .append(), .remove(), .extend(), which modify the list.

Use cases:

String: Used for text manipulation and representation.

List: Used for storing collections of items, potentially of different types.

---

**Q7.How do tuples ensure data integrity in Python?**

Ans:Tuples ensure data integrity in Python by being immutable, meaning their elements cannot be changed once created. This prevents accidental modifications, making the data safe and consistent throughout the program.

---

**Q8.What is a hash table, and how does it relate to dictionaries in Python?**

Ans:A hash table is a data structure that stores data in key-value pairs, using a hash function to compute an index for each key. This allows for fast lookups, insertions, and deletions.

In Python, dictionaries are implemented using hash tables. The keys are hashed, and the hash value determines where the associated value is stored, enabling efficient access to values based on keys.

---

**Q9.Can lists contain different data types in Python?**

Ans:Yes, lists in Python can contain different data types. A list can store elements of any type, including integers, strings, floats, and even other lists or objects.

---

 **Q10.Explain why strings are immutable in Python?**

Ans:Strings are immutable in Python to optimize performance, ensure security, and maintain consistency. Their immutability allows Python to reuse memory for identical strings, making operations more efficient. It also prevents accidental changes, which is important for security, especially when strings are used in sensitive contexts. Additionally, immutability ensures that strings can be safely used as dictionary keys and set elements, as their hash value remains constant. Overall, immutable strings lead to more predictable and reliable behavior in programs.

---

**Q11.What advantages do dictionaries offer over lists for certain tasks?**

Ans:Dictionaries offer several advantages over lists for certain tasks, particularly when you need to:

1.Fast lookups: Dictionaries provide faster access to values using keys, with average time complexity of O(1). In contrast, lists require scanning elements (O(n)) for searches.

2.Unique keys: Dictionaries ensure that each key is unique, which helps avoid duplicates, while lists can contain duplicate values.

3.Key-value mapping: Dictionaries store data as key-value pairs, making it easier to represent relationships or mappings (e.g., storing a person's name and age together).

4.Efficient insertions and deletions: Dictionaries allow efficient insertion and deletion of key-value pairs, whereas in lists, these operations can be slower, especially for large lists.

5.Semantic clarity: Dictionaries allow for more meaningful data representation by associating keys with values, making the code more readable and easier to understand.

---

 **Q12.Describe a scenario where using a tuple would be preferable over a list.**

Ans:A tuple would be preferable over a list in a scenario where you need to store a fixed collection of values that should not be changed, such as coordinates or configuration settings.

Example scenario: Suppose you're working with GPS coordinates for a specific location:

Example:

Location=(40.700,-78.950)

In this case:

Immutability: You want to ensure the coordinates cannot be accidentally modified during the program’s execution.

Performance: Tuples are more memory-efficient and faster for fixed data.

Semantic meaning: Using a tuple makes it clear that the data represents a fixed, unchangeable pair of values (latitude and longitude).

---

 **Q13.How do sets handle duplicate values in Python**

Ans:In Python, sets automatically handle duplicate values by removing them. A set only stores unique elements, so if you try to add a duplicate value, it will be ignored.

---

**Q14.How does the “in” keyword work differently for lists and dictionaries?**

Ans:The "in" keyword works differently for lists and dictionaries in Python:

In lists: The "in" keyword checks if a specific element is present in the list.

In dictionaries: The "in" keyword checks if a key is present in the dictionary.

---

**Q15.Can you modify the elements of a tuple? Explain why or why not.**

Ans:No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its contents cannot be changed, added, or removed.

This immutability provides several benefits:

Data integrity: It ensures that the data inside a tuple remains constant throughout the program, preventing accidental modifications.

Performance: Since tuples are immutable, Python can optimize their memory usage and access speed.

Hashability: Tuples can be used as keys in dictionaries and elements in sets, unlike lists, because their contents cannot change.

---

**Q16.What is a nested dictionary, and give an example of its use case?**

Ans:A nested dictionary is a dictionary where the value associated with a key is another dictionary. This allows you to represent complex, hierarchical data structures.

Example use case: Storing information about students in a school, where each student has attributes like name, age, and grades, and grades themselves are stored in another dictionary.

---

**Q17.Describe the time complexity of accessing elements in a dictionary.**

Ans:The time complexity of accessing elements in a dictionary in Python is O(1) on average, meaning it takes constant time to retrieve a value using a key.

This efficiency is possible because dictionaries are implemented using hash tables, where:

1.The key is hashed, and the resulting hash value determines where the associated value is stored in memory.

2.The lookup process involves calculating the hash of the key and accessing the corresponding value directly.

---

**Q18.In what situations are lists preferred over dictionaries?**

Ans:Lists are preferred over dictionaries when:

1.Order matters, as lists maintain the sequence of elements.

2.Duplicates are needed, as lists allow repeated values.

3.Index-based access is required, as lists allow fast access by index.

4.Data is similar, without needing key-value pairs.

Dictionaries are better for key-value associations and fast lookups.

---

**Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?**

Ans:Dictionaries are considered unordered because they store key-value pairs using hash values, not in a specific sequence. Although the order of items was not guaranteed in earlier versions of Python, starting from Python 3.7, dictionaries maintain the order in which key-value pairs were inserted. However, this order does not impact how data is retrieved.

---

**Q20.Explain the difference between a list and a dictionary in terms of data retrieval.**

Ans:The main difference between a list and a dictionary in terms of data retrieval lies in how data is accessed:

List:

Data is accessed by index (position in the list).

To retrieve an element, you need to know its index (e.g., my_list[2]).

Time complexity: Accessing an element by index is O(1), but finding an element (searching) can be O(n) if the index is unknown.

Dictionary:

Data is accessed by key (unique identifier).

To retrieve a value, you use its associated key (e.g., my_dict["key"]).

Time complexity: Accessing a value by key is O(1) on average, as dictionaries use hash tables for fast lookups.

---

#**Practical Questions**

**Q1.Write a code to create a string with your name and print it.**

Ans:

In [1]:
Name="gurwinder singh"
print(Name)

gurwinder singh



---

**Q2.Write a code to find the length of the string "Hello World".**

Ans:

In [2]:
A="hello world"
len(A)

11



---

**Q3.Write a code to slice the first 3 characters from the string "Python Programming".**

Ans:

In [4]:
String="gurwinder singh"
String[0:3]

'gur'



---

**Q4. Write a code to convert the string "hello" to uppercase.**

Ans:

In [5]:
string="hello"
string.upper()

'HELLO'



---

**Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".**

Ans:

In [7]:
Fruit="apple"
Fruit

'apple'

In [8]:
Fruit.replace("apple","orange")

'orange'



---

**Q6. Write a code to create a list with numbers 1 to 5 and print it.**

Ans:

In [9]:
Number=[1,2,3,4,5]
print(Number)

[1, 2, 3, 4, 5]



---

**Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].**

Ans:

In [15]:
List=[1,2,3,4]
List

[1, 2, 3, 4]

In [16]:
List.append(10)

In [17]:
List

[1, 2, 3, 4, 10]



---

**Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

Ans:

In [18]:
List=[1,2,3,4,5]
List

[1, 2, 3, 4, 5]

In [19]:
List.remove(3)

In [20]:
List

[1, 2, 4, 5]



---

**Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

Ans:

In [21]:
List=['a','b','c','d']
List[1]

'b'



---

**Q10. Write a code to reverse the list [10, 20, 30, 40, 50].**

Ans:

In [22]:
List=[10,20,30,40,50]
List

[10, 20, 30, 40, 50]

In [23]:
List[::-1]

[50, 40, 30, 20, 10]



---

**Q11.Write a code to create a tuple with the elements 10, 20, 30 and print it**

Ans:

In [25]:
tuple=(10,20,30)
print(tuple)

(10, 20, 30)



---

**Q12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').**

Ans:

In [26]:
Tuple=('apple','banana','cherry')
Tuple[0]

'apple'



---

**Q13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).**

Ans:

In [27]:
Tuple=(1,2,3,2,4,2)
Tuple.count(2)

3



---

**Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

Ans:

In [30]:
Tuple=('dog','cat','rabbit')
Tuple.index("cat")

1



---

**Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')**

Ans:

In [31]:
Tuple=('apple','orange','banana')
"banana" in Tuple

True



---

**Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.**

Ans:

In [32]:
Set={1,2,3,4,5}
print(Set)

{1, 2, 3, 4, 5}



---

**Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.**

Ans:

In [33]:
Set={1,2,3,4}
Set

{1, 2, 3, 4}

In [35]:
Set.add(6)
Set

{1, 2, 3, 4, 6}



---

**Q18.Write a code to create a tuple with the elements 10, 20, 30 and print it.**

Ans:

In [36]:
Tuple=(10,20,30)
print(Tuple)

(10, 20, 30)



---

**Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').**

Ans:

In [37]:
Tuple=('apple','banana','cherry')
Tuple[0]

'apple'



---

**Q20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).**

Ans:

In [38]:
Tuple=(1,2,3,4,2,2)
Tuple.count(2)

3



---

**Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

Ans:

In [39]:
Tuple=('dog','cat','rabbit')
Tuple.index('cat')

1



---

**Q22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').**

Ans:

In [40]:
Tuple=('apple','orange','banana')
"banana" in Tuple

True



---

**Q23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.**

Ans:

In [42]:
Set={1,2,3,4,5}
print(Set)

{1, 2, 3, 4, 5}



---

**Q24.. Write a code to add the element 6 to the set {1, 2, 3, 4}.**

Ans:

In [43]:
Set={1,2,3,4}
Set

{1, 2, 3, 4}

In [44]:
Set.add(6)

In [45]:
Set

{1, 2, 3, 4, 6}